# .github/workflows/hugo.yaml
name: Deploy Hugo Site to Pages

on:
  push:
    branches:
      - main  # 确保这里是你本地 git 的主分支名，可能是 master

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.128.0 # 建议填一个较新的版本
      HUGO_ENV: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive # 必须开启，否则主题下载不下来

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4